/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 1em; }

.all-container {
  height: 100vh; }

.output-container {
  height: 100%;
  background: white; }

.output-list {
  max-height: 100vh;
  overflow: auto;
  position: fixed;
  bottom: 0;
  margin-bottom: 4.5em;
  width: 100%; }

li {
  padding: 0.5em;
  font-size: 1.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-right: 0.8em;
  margin-left: 8em;
  background: #E8E8E8;
  border-radius: 0.4em; }

.list-user {
  margin-left: 0.8em;
  margin-right: 8em;
  background: #00A2FF;
  color: white; }

.input-container {
  position: fixed;
  height: 40px;
  padding-top: 1em;
  padding-bottom: 1em;
  bottom: 0;
  background: #9BDBFF;
  width: 100%; }

.user-form {
  width: 100%; }

.user-input {
  position: relative;
  padding: 0.5em;
  width: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 0.4em;
  font-size: 1em; }

.list-gitHub {
  position: relative;
  text-align: left;
  height: 200px; }

.gitHub-user-name .gitHub-user-stats {
  float: right;
  text-align: right;
  vertical-align: top; }

.gitHub-avatar {
  max-height: 200px;
  float: left; }

.weather-icon-container {
  float: left; }

.weather-desc {
  padding-left: 0.2em;
  text-align: right; }

.weather-icon {
  vertical-align: middle; }

.gif-container {
  position: relative;
  height: 200px; }

.gif-clear {
  clear: both;
  display: block; }

.gif-image {
  position: absolute;
  right: 0;
  max-height: 200px; }

/* Portrait and Landscape for phones */
@media only screen and (max-device-width: 667px) {
  .output-container {
    font-size: 25px; }
  .input-container {
    height: 100px;
    padding: 1em; }
  .user-input {
    padding: 0.5em;
    font-size: 3em;
    width: 80%; }
  .output-list {
    margin-bottom: 7.5em; }
  .gif-container {
    height: 300px; }
  .gif-image {
    max-height: 300px; } }
