<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chatti</title>
    
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="all-container">
      <div class="output-container">
        <ul class="output-list">
        </ul>
      </div>
      <div class="input-container">
        <form class="user-form">
          <input class="user-input" placeholder="help: me">
        </form>
      </div>
    </div>  
    
        <script id="gh-user-template" type="text/html">
          <li class = "list-gitHub">
            <a class="gitHub-link" href="<% m.html_url %>">
              <img class="gitHub-avatar" src="<%- m.avatar_url %>" alt="avatar">
                <span class="gitHub-user-name">
                  <%- m.name || m.login %>
                </span>
                <span class="gitHub-user-stats">
                  Has <%- m.public_repos %> repos.
                </span>
            </a>
          </li>
        </script>
        
          <script id="gh-error-template" type="text/html">
            <div class="error">
              <%- m.message %>
            </div>
          </script>
          
         <script id="weather-template" type="text/html">
          <li class = "list-weather">
            <div class ="weather-icon-container">
              <img class="weather-icon" src=<%- "http://openweathermap.org/img/w/" + m.weather[0].icon + ".png" %>
              </img>
            </div>
  
            <div class="weather-desc-container">
              <span class="weather-desc">
                In <%- m.name + " it is currently " + m.main.temp + "°F and the conditions are: " + m.weather[0].description %>               
              </span>
            </div>
          </li>
          </script>
          
          <script id="gify-template" type="text/html">
            <li class = "list-gify">
              <div class ="gif-container">
                <img class = "gif-image" src=<%- m.data[_.random(0,25)].images.downsized.url %>
               </div>
               <div class = "gif-clear"></div>
              </img> 
            </li>
          </script>
          
          <script id="help-template" type="text/html">
            <div class="help-container">
              <li class="help-text"> 
                Ask me stuff with a ":" followed by a space like the examples below: <br><br>
                weather: "zipcode/city,state" <br>
                gh: "github profile name"<br>
                gif: "search keyword"
              </li>
            </div>
          </script>
              
      <script src="js/vendor.js"></script>
      <script src="js/app.js"></script>
      <script src="js/index.js"></script>
      <script src="js/gitHubAPI.js"></script>    
      <script src="js/init.js"></script>
  </body>
</html>
