$output-bg-color: white;
$input-bg-color: #9BDBFF;
$user-tab-color:#FFB44F;
$weather-tab-color: #0071B2;
$calc-tab-color: #B29369;
$li-bg-color:#E8E8E8;
$li-user-bg-color:#00A2FF;

//overflow auto on the li container
//another div positioned on top of the 
//footer. assign a bottom but no top
//so it grows up.